$start-width: 5000px;
$start-height: 5000px;
$el-width: 600px;
$el-height: 70px;
$padding: 50px;

.show-help-popups-btn {
  cursor: pointer;
}

.help-popup {
  height: 0px;
  width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, .7);
  z-index: 99999999;
  opacity: 0;
  transition: all .2s;
  border-radius: 6px;

  &.help-popup_position_top {
    &:before {
      content: attr(data-text);
      position: absolute;
      top: -115px;
      left: 0px;
      color: #fff;
      font-size: 2em;
      max-width: 350px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 66px;
      height: 27px;
      top: -58px;
      left: 232px;
      border-width: 0px 5px 5px 0px;
      border-style: solid;
      border-color: #fff;
      border-bottom-right-radius: 100%;
      transform: rotate(264deg);
    }
  }

  &.help-popup_position_right {
    &:before {
      content: attr(data-text);
      position: absolute;
      top: 24px;
      right: -400px;
      color: #fff;
      font-size: 2em;
      max-width: 350px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 21px;
      top: 0;
      right: -90px;
      border-width: 5px 5px 0px 0px;
      border-style: solid;
      border-color: #fff;
      border-top-right-radius: 100%;
      transform: rotate(0deg);
    }
  }

  &.help-popup_position_bottom {
    &:before {
      content: attr(data-text);
      position: absolute;
      bottom: -145px;
      left: 130px;
      color: #fff;
      font-size: 2em;
      max-width: 350px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 79px;
      height: 37px;
      bottom: -90px;
      left: 50px;
      border-width: 0px 5px 5px 0px;
      border-style: solid;
      border-color: #fff;
      border-bottom-right-radius: 100%;
      transform: rotate(111deg);
    }
  }

  &.help-popup_position_left {
    &:before {
      content: attr(data-text);
      position: absolute;
      top: 50px;
      left: -376px;
      color: #fff;
      font-size: 2em;
      max-width: 350px;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 42px;
      height: 16px;
      top: 19px;
      left: -85px;
      border-width: 5px 0px 0px 5px;
      border-style: solid;
      border-color: #fff;
      border-top-left-radius: 100%;
      transform: rotate(0deg);
    }
  }

  &_state_active {
    position: absolute;
    opacity: 1;
    width: $el-width + $padding;
    height: $el-height + $padding;
    left: - $padding / 2;
    top: -$padding / 2;
  }

  &__wrapper {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }

  &_state_active &__wrapper {
    display: block;
  }
}